<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ndpt.chorescore" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
 >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".CurrentGroupsActivity"
            android:label="@string/title_activity_current_groups" >
        </activity>
        <activity
            android:name=".CreateGroupActivity"
            android:label="@string/title_activity_create_group" >
        </activity>
        <activity
            android:name=".JoinGroupActivity"
            android:label="@string/title_activity_join_group" >
        </activity>
        <activity
            android:name=".ViewGroupNonMemberActivity"
            android:label="@string/title_activity_view_group" >
        </activity>
        <!-- start parse broadcaster and receiver -->
        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.ndpt.chorescore" />
            </intent-filter>
        </receiver>
        <!-- end parse broadcaster and receiver -->
        <activity
            android:name=".ViewGroupMemberActivity"
            android:label="@string/title_activity_view_group_member" >
        </activity>
        <activity
            android:name=".PendingChoresActivity"
            android:label="@string/title_activity_pending_chores" >
        </activity>
        <activity
            android:name=".SelectChoresActivity"
            android:label="@string/title_activity_select_chores" >
        </activity>
        <activity
            android:name=".ChoreDetailsActivity"
            android:label="@string/title_activity_chore_details" >
        </activity>
        <activity
            android:name=".PointSummaryActivity"
            android:label="@string/title_activity_point_summary" >
        </activity>
        <activity
            android:name=".PointRedemptionActivity"
            android:label="@string/title_activity_point_redemption" >
        </activity>
    </application>

</manifest>
