<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ndpt.chorescore" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash_screen"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".CurrentGroupsActivity"
            android:label="@string/title_activity_current_groups" >
        </activity>
        <activity
            android:name=".CreateGroupActivity"
            android:label="@string/title_activity_create_group" >
        </activity>
        <activity
            android:name=".GroupDetailsActivity"
            android:label="@string/title_activity_group_details" >
        </activity>
        <activity
            android:name=".JoinGroupActivity"
            android:label="@string/title_activity_join_group" >
        </activity>
        <activity
            android:name=".InviteToGroupActivity"
            android:label="@string/title_activity_invite_to_group" >
        </activity>
        <activity
            android:name=".ViewGroupActivity"
            android:label="@string/title_activity_view_group" >
        </activity>
    </application>

</manifest>
